main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 200px, repeat(3, 33%);
  grid-template-rows: repeat(6, 200px);
}

.portraitWrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.portraitImage {
  position: relative;
  width: 200px;
  height: 200px;
}

.portraitBlood {
  position: absolute;
  bottom: 0;
  background-color: #8a0303;
  opacity: 0.5;
  width: 200px;
}

.character {
  grid-column: 2 / 4;
}

.defense {
  grid-column: 2 / 4;
  grid-row: 2;
}

.offense {
  grid-column: 2 /4;
  grid-row: 3;
}

.skills {
  grid-column: 4;
  grid-row: 1;
}

.stat {
  border: 1px solid lightgray;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 6rem;
}
